body {
  font-family: RalewayThin;
}

#cMenu {
    background-color: rgba(00,10,30,0.6);
    display: block;
}

#cMenu >ul {
  display: flex;
}

#cMenu >ul >li {
  color: rgba(255,255,255,0.9);
}

#cMenu >ul > li > a {
  color: inherit;
  display: block;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 20px;
  text-decoration: none;
}

#cMenu >ul >li:hover{
  color: rgba(255,255,255,1);
  font-family:Raleway;
}


#site {
  background-color: rgba(0,0,0,0.03);
  border: solid 1px rgba(0,0,0,0.15);
  border-radius: 4px;
  font-family: Raleway;
  font-size: 14px;
  margin: 10px;
  padding: 5px 5px 7px 10px;
}

#site >.titre {
  color: rgba(0,10,100,0.75);
  font-family: RalewayBold;
  font-size: 16px;
  letter-spacing: 1px; 
}

#cListe {
  display:flex;
  flex-direction:column;
}

#cListe > .filtrage {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 5px;
}




#cListe > .filtrage > .blocFiltres > .cButtons {
  display: flex;
  margin-top: 3px;
}

#cListe > .filtrage > .blocFiltres > .cButtons > .btnFiltre {
  background-color: rgba(254,255,254,1);
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
  padding: 2px;
  height: 24px;
  width: 280px;
  margin-right:10px;
}

#cListe > .filtrage > .blocFiltres > .cButtons > .btnFiltre:active {
  box-shadow: inset 1px 1px 2px -1px rgba(0,0,0,0.1);
  padding: 3px 1px 1px 3px;
}

#cListe > .filtrage > .blocFiltres > .cButtons > .btnSelected {
  background-color: rgba(100,200,190,.1);
  box-shadow: inset 1px 1px 2px -1px rgba(0,0,0,0.1);
}






#cListe > .filtrage > .blocSelections {
  display: flex;
}

#cListe > .filtrage > .blocSelections > div {
  display: flex;
  flex-direction: column;
}

#cListe > .filtrage > .blocSelections ._div {
  display: flex;
  justify-content: right;
  margin: 0px 0 4px 0;
}

#cListe > .filtrage > .blocSelections ._div span {
  font-size: 12px;
  padding-top: 7px; 
}

#cListe > .filtrage > .blocSelections input {
  width: 35px;
  height:26px;
  padding: 0;
  margin-left:5px;
}

#cListe > .filtrage > .blocSelections select {
  width: 40px;
  height: 26px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#cListe > .filtrage > .blocSelections > button {
  background-color: rgba(40,140,200,0.7);
  border: solid 1px rgba(25,25,25,0.2);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 10px;
  height: 63px;
  width: 63px;
  
}










#cListe > ul {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 200px);
}

#cListe >ul >li {
  background-color: rgba(255,255,255,1);
  border:solid 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: calc((100% - (2*25px))/3);
  max-width: calc((100% - (2*25px))/3);
  max-height: 140px;
  
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

#cListe a {
  color: inherit;
  display: flex;
  padding:5px;
  text-decoration: none;
  width: 100%;
}

#cListe .cImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px rgba(0,0,0,0.1);
  border-radius:3px;
  height: 128px;
  margin-right: 10px;
  overflow:hidden;
  padding: 0px;
  position: relative;
  width: 128px;
  min-width: 128px;
}

#cListe .cImg img {
  height: 128px;
  width: auto;
  border: 0;
  position: absolute;
}

#cListe .persCount {
  background-color: rgba(255,255,255,0.75);
  border-radius: 20px;
  display: block;
  font-size: 16px;
  height: 24px;
  padding: 0 1px 1px 0;
  position: absolute;
  width: 24px;
  right: 0;
  z-index: 1;
  top: 5px;
  left: 5px;
  text-align: center;
}

#cListe .persDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}


#cListe .persDatas .persNom {
  font-size: 11px;
  font-family: RalewayBold;
  letter-spacing: 1px;
  margin-right: 5px;
  width: 150px;
}

#cListe .persDatas > .infosPersonnage {
  display: flex;
}

#cListe .persDatas > .infosPersonnage > .hasDesc img,
#cListe .persDatas > .infosPersonnage > .inComics img
{
  height: 32px;
  margin: 5px;
}



#cDataPersonnage {
  
}

#cDataPersonnage >.personnageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#cDataPersonnage >.personnageContainer > .personnageImage {
  flex-basis: 0.25;
}

#cDataPersonnage >.personnageContainer > .personnageImage img {
  max-height: 400px;
  max-width: 400px;
}

#cDataPersonnage >.personnageContainer > .personnageInfos {
  margin-left: 10px;
  max-width: calc(100% - 800px);
}

#cDataPersonnage >.personnageContainer > .personnageInfos .nom {
  font-family: RalewayBold;
  font-size: 24px;
  letter-spacing: 1px;
}

#cDataPersonnage >.personnageContainer > .personnageInfos .description {
  font-size: 13px;
  font-style: italic;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere {
  margin-top: 20px;
  width: 100%;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .nbComics {
  font-size: 15px;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics {
  margin-top: 10px;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics .titre {
  font-size: 16px;
  font-family: RalewayBold;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics > .liste {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  margin-top: 5px;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics > .liste > li {
  display: flex;
  height: 40px;
  border-bottom:solid 1px rgba(0,0,0,0.0);
  margin-bottom: 5px;
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics .comicCount {
  background-color: rgba(0,50,100,0.75);
  border-radius: 15px 0 0 15px;
  color: white;
  font-family: Raleway;
  font-size: 16px;
  padding-top: 7px;
  text-align: center;
  width: 40px;
  
}

#cDataPersonnage >.personnageContainer > .personnageCarriere > .listeDesComics .comicTitre {
  background-color: white;
  color: rgba(0,0,0,0.9);
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-top: 10px;
  
  width: 500px;
}













